* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  src: url(fonts/Halva-qZY3r.otf);
  font-family: halva;
}


@font-face{
  src: url(fonts/OPTICAL\ FIBER-BOLD.OTF);
  font-family: OF;
}



html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.videoloader{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #101010;
  z-index: 9999999;
  overflow: hidden;
  
  
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
  animation-delay: 7s;
  pointer-events: none;
}

.intro{
 
  height: 50%;
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
  pointer-events: none;
}

.allescontainer {
  height: 200vh;
  width: 100vw;

  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: #fff7e4;
  

}



.anker {
  height: 950vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;

  
  flex-direction: column;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color:#fff7e4;
  
}

@media (max-width: 500px) {
  .anker {
    height: 500vh;
  }
}

.rahmenhalter {
  pointer-events: none;
  top: 0;
  position: absolute;
  height: 200vh;
  width: 100vw;

  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 0vh;
  
}



.rahmen1 {
  position: absolute;
  border-top: calc(0.12vw + 2px) solid #4c4c4c;
  border-left: calc(0.12vw + 2px) solid #4c4c4c;
  border-right: calc(0.12vw + 2px) solid #4c4c4c;
  height: 89%;
  width: 95%;
  padding: calc(0.2vw + 11px);
  top: calc(1.5vw + 1.5vh);
  
  margin: 0 auto;
}

.rahmen2 {
  border-top: calc(0.12vw + 2px) solid #4c4c4c;
  border-left: calc(0.12vw + 2px) solid #4c4c4c;
  border-right: calc(0.12vw + 2px) solid #4c4c4c;
  height: 100%;
  width: 100%;
  padding: calc(0.2vw + 11px);
  margin: auto;
  z-index: 1;
  
}

.rahmen3 {
  border-top: calc(0.12vw + 2px) solid #4c4c4c;
  border-left: calc(0.12vw + 2px) solid #4c4c4c;
  border-right: calc(0.12vw + 2px) solid #4c4c4c;
  height: 100%;
  width: 100%;
  padding: calc(0.2vw + 11px);
  margin: auto;

}




.logo-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50vh;
  width: 90%;

  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.logo {
  height: 100%;
  object-fit: contain;
  
}

@media (max-width: 900px) {
  .logo{
    height: 80%;
  }
}

@media (max-width: 600px) {
  .logo{
    height: 70%;
  }
}

.lücke-container {
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100px;
  width: calc(8vw + 50px);

  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff7e4;
  z-index: 1;
}

.mitte {
  transition: transform 0.7s ease-in-out;
}
.mitte:hover {
  transform: rotate(90deg);
}

.hamburger-container {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 130px;
  width: 150px;

  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  z-index: 2;
  top: calc(1.3vw + 1.3vh);
  overflow: hidden;
  
}

@keyframes grauton {
  0% {
    filter: grayscale(0%);
  }

  50% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0%);
  }
}

.hamburger {
  cursor: pointer;
  height: calc(40px + 1vw);
  width: auto;
  transition: transform 0.2s ease-in-out;

  animation-name: grauton;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

.hamburger:hover {
  transform: rotateZ(90deg);
}



.schrift-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50vh;
  width: 90%;

  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  overflow: visible;
  
}

.schrift2-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50vh;
  width: 90%;

  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: visible;
 
}

.schrift1 {
  position: relative;
  height: 13%;
  top: -15%;
  
  object-fit: contain;
  
  animation: fadeIn 1s ease-in-out;
  
}

.schrift2 {
  position: relative;
  height: 13%;
  bottom: -15%;
  
  object-fit: contain;
}

@media (max-width: 900px) {
  .schrift1
  {
    height: 11%;
    top: -3%;
  }
}

@media (max-width: 900px) {
  .schrift2
  {
    height: 11%;
    bottom: -3%;
  }
}

.schrift-mobile-container {

  position: absolute;
 
  
  width: 90%;
  height: 40%;

  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  transform: translate(0, -40vh);
  animation: fadeIn 3s ease-in-out;
  
}

.schrift-mobile {
  height: calc(80%);
  
  display: none;
  padding: 0;
}



@media (max-width: 600px) {
  .schrift1
  {
    height: 10%;
    top: -2%;
  }
}

@media (max-width: 600px) {
  .schrift2
  {
    height: 10%;
    bottom: -2%;
  }
}

@media (max-width: 445px) {
  .schrift-mobile {
    display: flex;
  }

  .schrift1 {
    display: none;
  }
}

.menu-container {
  position: absolute;
  height: 15vh;
  width: 60vw;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: calc(0.10vw + 2px) #4c4c4c solid;
  outline: calc(0.10vw + 2px) #4c4c4c solid;
  outline-offset: calc(0.3vw + 2px);

  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  padding: calc(0.2vw + 11px);
  overflow: hidden;
}

@media (max-height: 800px) {
  .menu-container{
    
    top: 17vh;

  }
}
@media (max-height: 700px) {
  .menu-container{
    
    top: 19vh;

  }
}
.designs {
  cursor: pointer;
  font-size: 190%;
  font-family: halva;
  color: #a62f3b;
  font-weight: 500;
  letter-spacing: 10px;

  padding-right: 4vw;
  padding-left: 4vw;
  text-decoration: none;
  transition: all .1s ease-in-out;
  overflow: hidden;
}




.kontakt {
  cursor: pointer;
  font-size: 190%;
  font-family: halva;
  color: #a62f3b;
  font-weight: 500;
  letter-spacing: 10px;

  padding-right: 2vw;
  padding-left: 2vw;
  text-decoration: none;
  transition: all .1s ease-in-out;
  overflow: hidden;
  
}

.kontaktlink{
  text-decoration: none;
  overflow: hidden;
}

.überuns {
  cursor: pointer;
  font-size: 190%;
  font-family: halva;
  color: #a62f3b;
  font-weight: 500;
  letter-spacing: 10px;

  padding-right: 2vw;
  padding-left: 2vw;
  text-decoration: none;
  transition: all .1s ease-in-out;
  overflow: hidden;
}

.designs:hover,
.kontakt:hover,
.überuns:hover { transform: scale(1.1); }

@media (max-width: 1450px) {
  .kontakt,
  .überuns,
  .designs {
    font-size: 100%;
  }
}

@media (max-width: 600px) {
  .kontakt,
  .überuns,
  .designs {
    font-size: 80%;
  }
}



.footer {
  height: 35vh;
  width: 100vw;
  

  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color:#e6dcc7;
  overflow:hidden
}

.kontaktgram{
  height: 10vh;
  overflow: hidden;
}

.instagram{
  height: 10vh;
  overflow: hidden;
}

.behance{
  height: 10vh;
  overflow: hidden;
}

.kontakticon {
  height: calc(16px + 1vw);
  margin: 2vh;
  cursor: pointer;
  transition: all .2s ease-in-out;
  overflow: hidden;
}



.instaicon {
  height: calc(16px + 1vw);
  margin: 2vh;
  cursor: pointer;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.behanceicon {
  height: calc(16px + 1vw);
  margin: 2vh;
  cursor: pointer;
  transition: all .1s ease-in-out;
  overflow: hidden;
}

.kontakticon:hover,
.instaicon:hover,
.behanceicon:hover { transform: scale(1.1); }

.imprint {
  cursor: pointer;

  font-family: halva;
  color: #000000;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 2vh;
  font-size: 100%;
}
@media (max-width: 1100px) {
  .imprint {
    font-size: 100%;
  }
}
@media (max-width: 500px) {
  .imprint {
    font-size: 60%;
  }
}

.beschreibung-container {
  height: 75vh;
  width: 80vw;

  align-self: center;
  margin-top: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  
}

.beschreibung-mobile-container{
  position: relative;
  bottom: 10vh;

  height: 100%;
  width: 80vw;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  display: none;
  
}

.beschreibung{
  width: calc(500px + 10vw) ;
  padding-bottom: 4vh;
}

.bio{
  width: calc(500px + 10vw) ;
}

 .beschreibung_mobile{
 width: calc(200px + 10vw) ;  
 padding-bottom: 4vh;
 overflow: hidden;
 object-fit: contain;
 }

.bio_mobile{
  
  width: calc(180px + 9vw);
  overflow: hidden;
  object-fit: contain;
}





@media (max-width: 800px) {
 .beschreibung-mobile-container {
   display: flex;
  }
}


@media (max-width: 800px) {
  .beschreibung,
  .bio {
    display: none;
  }
}

/* @media (max-width: 700px) {

  .beschreibung_mobile{
    width: calc(120px + 25vw);
  }
  
  .bio_mobile{
    width: calc(110px + 25vw);
  }
} */



.menu2-container {
  position: absolute;
  height: 15vh;
  width: 60vw;
  align-self: center;
  bottom: -100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.kontakt2 {
  cursor: pointer;
  font-size: 190%;
  font-family: halva;
  color: #a62f3b;
  font-weight: 500;
  letter-spacing: 10px;

  padding-right: 4vw;
  padding-left: 4vw;
  text-decoration: underline;
  animation-name: grauton;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@media (max-width: 445px) {
  .kontakt2 {
    font-size: 120%;
  }
}

.eckenhalter{
  pointer-events: none;
  top: 0;
  position: absolute;
  height: 20vh;
  width: 95%;

  display: flex;

  justify-content: flex-start;
  flex-direction: column;
  align-items:flex-end;

  
  top: calc(1.5vw + 1.5vh);
  background-color: #a62f3b00;
}

.ecke{
  width: calc(10px + 0.8vw + 0.8vh)
}

.eckenhalter2{
  pointer-events: none;
  top: 0;
  position: absolute;
  height: 20vh;
  width: 95%;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items:flex-start;

  top: calc(1.5vw + 1.5vh);
  background-color: #a62f3b00;
}

.ecke2{
  width: calc(10px + 0.8vw + 0.8vh)
}

.ecke2_1{
  position: absolute;
  width: calc(10px + 0.8vw + 0.8vh)
}

.ecke2_2{
  position: absolute;
  
  width: calc(10px + 0.8vw + 0.8vh)
}

.ecke1_1{
  position: absolute;
  
  
  margin-right: calc(0.2vw + 11px);
  right: 0;
  width: calc(10px + 0.8vw + 0.8vh)
}

.ecke1_2{
  position: absolute;
  
  
  right: calc(0.2vw + 11px);
  width: calc(10px + 0.8vw + 0.8vh)
}


@keyframes fadeIn {
  
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

@keyframes fadeOut {
  
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }

}


.d1{
  height: 100vh;
  width: 100vw;
  margin-bottom: 2vw;
  
  
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas: 
  "l1 m1 r1"
  "l1 m1 r1"
  "l1 m1 r1";
  
  
}




.l1{
grid-area: l1;

background-color: #fff7e4;
display: flex;
align-items: center;
justify-content: center;
z-index: 4;
}

.m1{
  grid-area: m1;
  display: flex;
  align-items: center;
  justify-content: center;
 
  background-color: #000000;
  overflow: hidden;
  cursor: pointer;
  
  
  }
  .r1{
    grid-area: r1;
   
    background-color: #fff7e4;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.ls1{
  font-family: OF;
  font-size: 100%;
  letter-spacing: 10px;
  text-align: center;
}
.rs1{
  
  font-family: OF;
  font-size: 100%;
  letter-spacing: 10px;
  text-align: center;
}

.t1{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: #c9c9c9;
  transition: 0.5s;
  

  z-index: 2;
}

.ms1{
  font-family: OF;
  font-size: 190%;
  letter-spacing: 10px;
  z-index: 3;
  transition: 0.2s ease-in;
  opacity: 1;
  color: #000000;
  text-align: center;
}

.bild1{
  width: 100%;
  
  transition: 0.2s ease-in;
  z-index: 1;
  object-fit: contain;
 
  
 
}

.t1:hover {
  background-color: rgb(255, 255, 255);
}

.m1:hover .ms1{
  letter-spacing: 20px;
}

.m1:hover .bild1{


  transform: scale(1.04);
}

@media (max-width: 1000px) {
  .d1{
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    "m1 m1 m1"
    "m1 m1 m1"
    "r1 r1 r1";
    height: 100vw;
  }
  .ms1,
  .ls1,
  .rs1 {
    font-size: 100%;
  }
} 

@media (max-width: 600px) {
  .ms1,
  .ls1,
  .rs1 {
    font-size: 80%;

  }
}

@media (max-width: 350px) {
  .ms1,
  .ls1,
  .rs1 {
    font-size: 60%;

  }
}

@media (max-height: 650px) {
  .ms1,
  .ls1,
  .rs1 {
    font-size: 80%;

  }
}